

DATABASE_URL="postgresql://USER:PASSWORD@your-rds-endpoint.us-east-2.rds.amazonaws.com:5432/gts-pokemon-db?sslmode=require"

JWT_SECRET="your-jwt-secret"

# Puertos internos en la EC2 (nginx hace proxy hacia estos)
FRONT_PORT=3000
BACKEND_PORT=8100

# Backend NestJS usa APP_PORT, debe coincidir con BACKEND_PORT
APP_PORT=8100
NODE_ENV=production

LOG_LEVEL=info

CORS_ORIGIN="http://ec2-3-144-176-202.us-east-2.compute.amazonaws.com"

NEXT_PUBLIC_API_URL="http://ec2-3-144-176-202.us-east-2.compute.amazonaws.com/api/v1"
# ruta a la config de nginx
NGINX_CONF_PATH="../nginx/nginx.conf"

POKEAPI_BASE_URL="https://pokeapi.co/api/v2"
POKEAPI_CACHE_TTL_MS=86400000
POKEAPI_CACHE_MAX_DETAILS=300
POKEAPI_CACHE_MAX_TYPES=20
POKEAPI_CACHE_MAX_PAGES=30

THROTTLE_TTL_MS=60000
THROTTLE_LIMIT=100
THROTTLE_AUTH_TTL_MS=60000
THROTTLE_AUTH_LIMIT=10
