DATABASE_URL="postgresql://admin:admin@db:5432/gts-pokemon-db"
JWT_SECRET="your-jwt-secret"
POKEAPI_BASE_URL="https://pokeapi.co/api/v2"

# Rate limiting 
THROTTLE_TTL_MS=60000
THROTTLE_LIMIT=100
THROTTLE_AUTH_TTL_MS=60000
THROTTLE_AUTH_LIMIT=10

#Cache configuración
POKEAPI_CACHE_TTL_MS=86400000
POKEAPI_CACHE_MAX_DETAILS=300
POKEAPI_CACHE_MAX_TYPES=20
POKEAPI_CACHE_MAX_PAGES=30
